//
   Created by LittleVege on 2014/12/17.

extends layout
block content
    div.container-fluid.main(ng-controller="TabsController")
        //side bar
        aside.sidebar
            ul.list
                li
                    a.icon-home(href="/")
                li
                    a.icon-list(href="#/list")
                li
                    a.icon-plus(href="#/create")
                li
                    a.icon-dashboard
                li
                    a.icon-cog
            img.avatar(src="img/git.jpg")
        main.wrap-tabs(ng-view)
            
