//
   Created by LittleVege on 2014/12/17.

doctype html
html(ng-app='admin')
    head
        title= title
        link(rel='stylesheet', href='/css/dashboard.css')
        link(rel='styleSheet', href='/lib/font-awesome/css/font-awesome.css')
        link(rel="stylesheet", href="/lib/codemirror/lib/codemirror.css")
        link(rel="stylesheet", href="/lib/codemirror/theme/monokai.css")
        script(type='text/javascript', src='/lib/angular/angular.min.js')
    body
        block content

        script(type="text/javascript", src="/lib/angular/modules/ngSanitize/sanitize.js")
        script(type="text/javascript", src="/lib/codemirror/lib/codemirror.js")
        script(type="text/javascript", src="/lib/codemirror/mode/xml/xml.js")
        script(type="text/javascript", src="/lib/codemirror/mode/markdown/markdown.js")
        script(type="text/javascript", src="/lib/codemirror/ui-codemirror/ui-codemirror.js")
        script(type="text/javascript", src="/js/admin/module.js")
        script(type="text/javascript", src="/js/admin/controller.js")
        script(type="text/javascript", src="/lib/md-editor/marked.js")
