//
   Created by little_vege on 2014/12/20.

//create post tab
main.row.tab.tab-create-post.active(ng-controller="EditPostController")
   header
       input.title(type='text',placeholder="title",ng-model="title")
   main.row.content
       section.col-6.md
           textarea(ui-codemirror="cmOption",ng-model="mdContent")
       section.col-6.pre(ng-bind-html="asHtml(htmlContent)")
   footer
       div.col-8
           a.tag-icon.icon-tags
           input.input-tag(type='text',placeholder='input a tag')
       div.col-4
           button.btn.primary.publish-btn publish