//
   Created by LittleVege on 2014/12/17.

extends dash_layout
block content
    div.container-fluid.main
        //side bar
        aside.sidebar
            ul.list
                li
                    a.icon-home
                li
                    a.icon-list
                li.active
                    a.icon-plus
                li
                    a.icon-dashboard
                li
                    a.icon-cog
            img.avatar(src="",border=0)

        //create post tab
        main.row.tab.tab-create-post
            header
                input.title(type='text',placeholder='title')
            main.row.content
                section.col-6.md
                    textarea(placeholder='markdown here...')
                section.col-6.pre
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
                    h1 my name is
            footer
                a.tag-icon.icon-tags
                input.input-tag(type='text',placeholder='input a tag')
        //post list tab
        main.row.tab.tab-post-list.active
            main.row.content
                section.col-4.posts-wrap
                    header.title
                        h2 Post List
                        a.add-new.icon-plus

                    ul.list
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                        li
                            h2 new post name
                            p this is a post
                section.col-8.pre

