//
   Created by LittleVege on 2014/12/17.

extends dash_layout
block content
    div.container-fluid.main
        div.sidebar
            ul.list
                li
                    a.icon-dashboard
                li
                    a.icon-list
                li
                    a.icon-plus
                li
                    a 4
                li
                    a 5
        div.row
            div.col-6
            div.col-6