//
   Created by little_vege on 2014/12/15.
extends layout
block content
   div.container
      form(action='/register' method='post')
         input(type='text' name='name' placeholder='user name')
         input(type='password' name='password' placeholder='password')
         input(type='email' name='email' placeholder='email address')
         input(type='submit' value='submit')
