/*via btn*/
/*btn-color-mixin*/
/*btn-colo-mixin end*/
/*btn-line-color-mixin*/
/*mixin init end*/
a.btn,
button.btn,
input[type="submit"].btn,
input[type="button"].btn {
  color: white;
  margin: 5px;
  padding: 8px 15px;
  border: 0 none;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
a.btn.default,
button.btn.default,
input[type="submit"].btn.default,
input[type="button"].btn.default {
  background-color: #55606e;
}
a.btn.default:active,
button.btn.default:active,
input[type="submit"].btn.default:active,
input[type="button"].btn.default:active,
a.btn.default.active,
button.btn.default.active,
input[type="submit"].btn.default.active,
input[type="button"].btn.default.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
}
a.btn.default:hover,
button.btn.default:hover,
input[type="submit"].btn.default:hover,
input[type="button"].btn.default:hover,
a.btn.default:active,
button.btn.default:active,
input[type="submit"].btn.default:active,
input[type="button"].btn.default:active,
a.btn.default.active,
button.btn.default.active,
input[type="submit"].btn.default.active,
input[type="button"].btn.default.active {
  background-color: #292e34;
}
a.btn.primary,
button.btn.primary,
input[type="submit"].btn.primary,
input[type="button"].btn.primary {
  background-color: #0080ff;
}
a.btn.primary:active,
button.btn.primary:active,
input[type="submit"].btn.primary:active,
input[type="button"].btn.primary:active,
a.btn.primary.active,
button.btn.primary.active,
input[type="submit"].btn.primary.active,
input[type="button"].btn.primary.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
}
a.btn.primary:hover,
button.btn.primary:hover,
input[type="submit"].btn.primary:hover,
input[type="button"].btn.primary:hover,
a.btn.primary:active,
button.btn.primary:active,
input[type="submit"].btn.primary:active,
input[type="button"].btn.primary:active,
a.btn.primary.active,
button.btn.primary.active,
input[type="submit"].btn.primary.active,
input[type="button"].btn.primary.active {
  background-color: #004d99;
}
a.btn.success,
button.btn.success,
input[type="submit"].btn.success,
input[type="button"].btn.success {
  background-color: #36c77b;
}
a.btn.success:active,
button.btn.success:active,
input[type="submit"].btn.success:active,
input[type="button"].btn.success:active,
a.btn.success.active,
button.btn.success.active,
input[type="submit"].btn.success.active,
input[type="button"].btn.success.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
}
a.btn.success:hover,
button.btn.success:hover,
input[type="submit"].btn.success:hover,
input[type="button"].btn.success:hover,
a.btn.success:active,
button.btn.success:active,
input[type="submit"].btn.success:active,
input[type="button"].btn.success:active,
a.btn.success.active,
button.btn.success.active,
input[type="submit"].btn.success.active,
input[type="button"].btn.success.active {
  background-color: #207749;
}
a.btn.danger,
button.btn.danger,
input[type="submit"].btn.danger,
input[type="button"].btn.danger {
  background-color: #fb5240;
}
a.btn.danger:active,
button.btn.danger:active,
input[type="submit"].btn.danger:active,
input[type="button"].btn.danger:active,
a.btn.danger.active,
button.btn.danger.active,
input[type="submit"].btn.danger.active,
input[type="button"].btn.danger.active {
  -webkit-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -moz-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  -o-box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.8) inset;
}
a.btn.danger:hover,
button.btn.danger:hover,
input[type="submit"].btn.danger:hover,
input[type="button"].btn.danger:hover,
a.btn.danger:active,
button.btn.danger:active,
input[type="submit"].btn.danger:active,
input[type="button"].btn.danger:active,
a.btn.danger.active,
button.btn.danger.active,
input[type="submit"].btn.danger.active,
input[type="button"].btn.danger.active {
  background-color: #d11804;
}
a.btn-liner,
button.btn-liner,
input[type="submit"].btn-liner,
input[type="button"].btn-liner {
  background: white;
  padding: 6px 13px;
  margin: 5px;
  border: 2px solid;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  -o-box-sizing: border-box;
  box-sizing: border-box;
}
a.btn-liner.default,
button.btn-liner.default,
input[type="submit"].btn-liner.default,
input[type="button"].btn-liner.default {
  color: #55606e;
  border-color: #55606e;
}
a.btn-liner.default:hover,
button.btn-liner.default:hover,
input[type="submit"].btn-liner.default:hover,
input[type="button"].btn-liner.default:hover,
a.btn-liner.default:active,
button.btn-liner.default:active,
input[type="submit"].btn-liner.default:active,
input[type="button"].btn-liner.default:active,
a.btn-liner.default.active,
button.btn-liner.default.active,
input[type="submit"].btn-liner.default.active,
input[type="button"].btn-liner.default.active {
  background-color: #a4adb8;
  border-color: #3f4751;
}
a.btn-liner.default:active,
button.btn-liner.default:active,
input[type="submit"].btn-liner.default:active,
input[type="button"].btn-liner.default:active,
a.btn-liner.default.active,
button.btn-liner.default.active,
input[type="submit"].btn-liner.default.active,
input[type="button"].btn-liner.default.active {
  -webkit-box-shadow: 0 0 8px 0 #3f4751 inset;
  -moz-box-shadow: 0 0 8px 0 #3f4751 inset;
  -o-box-shadow: 0 0 8px 0 #3f4751 inset;
  box-shadow: 0 0 8px 0 #3f4751 inset;
  color: #292e34;
}
a.btn-liner.primary,
button.btn-liner.primary,
input[type="submit"].btn-liner.primary,
input[type="button"].btn-liner.primary {
  color: #0080ff;
  border-color: #0080ff;
}
a.btn-liner.primary:hover,
button.btn-liner.primary:hover,
input[type="submit"].btn-liner.primary:hover,
input[type="button"].btn-liner.primary:hover,
a.btn-liner.primary:active,
button.btn-liner.primary:active,
input[type="submit"].btn-liner.primary:active,
input[type="button"].btn-liner.primary:active,
a.btn-liner.primary.active,
button.btn-liner.primary.active,
input[type="submit"].btn-liner.primary.active,
input[type="button"].btn-liner.primary.active {
  background-color: #99ccff;
  border-color: #0066cc;
}
a.btn-liner.primary:active,
button.btn-liner.primary:active,
input[type="submit"].btn-liner.primary:active,
input[type="button"].btn-liner.primary:active,
a.btn-liner.primary.active,
button.btn-liner.primary.active,
input[type="submit"].btn-liner.primary.active,
input[type="button"].btn-liner.primary.active {
  -webkit-box-shadow: 0 0 8px 0 #0066cc inset;
  -moz-box-shadow: 0 0 8px 0 #0066cc inset;
  -o-box-shadow: 0 0 8px 0 #0066cc inset;
  box-shadow: 0 0 8px 0 #0066cc inset;
  color: #004d99;
}
a.btn-liner.success,
button.btn-liner.success,
input[type="submit"].btn-liner.success,
input[type="button"].btn-liner.success {
  color: #36c77b;
  border-color: #36c77b;
}
a.btn-liner.success:hover,
button.btn-liner.success:hover,
input[type="submit"].btn-liner.success:hover,
input[type="button"].btn-liner.success:hover,
a.btn-liner.success:active,
button.btn-liner.success:active,
input[type="submit"].btn-liner.success:active,
input[type="button"].btn-liner.success:active,
a.btn-liner.success.active,
button.btn-liner.success.active,
input[type="submit"].btn-liner.success.active,
input[type="button"].btn-liner.success.active {
  background-color: #ade9ca;
  border-color: #2b9f62;
}
a.btn-liner.success:active,
button.btn-liner.success:active,
input[type="submit"].btn-liner.success:active,
input[type="button"].btn-liner.success:active,
a.btn-liner.success.active,
button.btn-liner.success.active,
input[type="submit"].btn-liner.success.active,
input[type="button"].btn-liner.success.active {
  -webkit-box-shadow: 0 0 8px 0 #2b9f62 inset;
  -moz-box-shadow: 0 0 8px 0 #2b9f62 inset;
  -o-box-shadow: 0 0 8px 0 #2b9f62 inset;
  box-shadow: 0 0 8px 0 #2b9f62 inset;
  color: #207749;
}
a.btn-liner.danger,
button.btn-liner.danger,
input[type="submit"].btn-liner.danger,
input[type="button"].btn-liner.danger {
  color: #fb5240;
  border-color: #fb5240;
}
a.btn-liner.danger:hover,
button.btn-liner.danger:hover,
input[type="submit"].btn-liner.danger:hover,
input[type="button"].btn-liner.danger:hover,
a.btn-liner.danger:active,
button.btn-liner.danger:active,
input[type="submit"].btn-liner.danger:active,
input[type="button"].btn-liner.danger:active,
a.btn-liner.danger.active,
button.btn-liner.danger.active,
input[type="submit"].btn-liner.danger.active,
input[type="button"].btn-liner.danger.active {
  background-color: #fedad6;
  border-color: #fa250e;
}
a.btn-liner.danger:active,
button.btn-liner.danger:active,
input[type="submit"].btn-liner.danger:active,
input[type="button"].btn-liner.danger:active,
a.btn-liner.danger.active,
button.btn-liner.danger.active,
input[type="submit"].btn-liner.danger.active,
input[type="button"].btn-liner.danger.active {
  -webkit-box-shadow: 0 0 8px 0 #fa250e inset;
  -moz-box-shadow: 0 0 8px 0 #fa250e inset;
  -o-box-shadow: 0 0 8px 0 #fa250e inset;
  box-shadow: 0 0 8px 0 #fa250e inset;
  color: #d11804;
}
/*via btn end*/
